/* Main Page Styling */

html, body, header, nav, section, footer, div, ul, ol, li {
    margin: 0;
    padding: 0;
  }

ul, ol, li {
  list-style: none;
  list-style-type: none;
  }

.page {
  margin: 0;
  padding: 0;
  width: 100%;
  }
.wrapper {}

/* Header    */
/*************/

.header {}
.logo {
  background-color: blue;
  height: 120px;
  width: 100%;
  }

/* Navigator */
/*************/

.navigator {
  /*margin-top: 120px;*/
  height: 120px;
  width: 100%;
  background-color: #cccccc;
  }
.nav_wrapper {
  width: 960px;
  margin: 0 auto;
  }
.nav_content {
  margin-top: 30px;
  height: 90px;
  background-color: red;
  }

.nav_option_list {
  height: 85px;
  width: 100%;
  background-color: darkgoldenrod;
  }
.nav_option_indicator {
  height: 5px;
  background-color: yellowgreen;
  }


/* Responsive Column Set-up Tools */

.span_eight_left {
  float: left;
  width: 80%;
  }
.span_two_right {
  float: right;
  width: 20%;
  }